.header {  
    display: flex;
    justify-content: space-between;
    background-color: #4e0101;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #52e8fb;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 50px;
}

.intro {
    background-color: #ffe3e0;
    border: 2px solid #000000;
    border-radius: 20px;
}

a:link{
    color: #B266FF;
}

a:visited{
    color: #B266FF;
}

body {
    background-image: url("images/aboutus.jpg");
    background-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: medium;
    margin: 0px;
}

h1 {
    text-align: center;
    margin-left: 680px;
}