img {
    border: solid;
    border-color: black;
    border-radius: 30px;
}

.header {
    display: flex;
    color: #ff6666;
    background-color: rgb(122, 44, 211);
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid #000000;
    border-radius: 50px;
  }

.origami {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color: aqua;
    border-radius: 30px;
    margin: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.menu{
    display : flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-right: 30px;
}

.menu a {
    margin-left: 20px;
}

body {
    margin:0px;
    background-color: #f7f2f2;
}

.bodyimg {
    background-color : plum;
}

h1 {
    text-align: center;
    margin-left: 550px;
}

a:link{
    color: turquoise;
}

a:visited{
    color: violet;
}

.origami{
    position: relative;
}

.origami h3{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.origami:hover {
    transform: scale(1.2);
}

.origami:hover h3{
    opacity: 1;
}

.origami:hover img {
    transform: scale(1.2);
    opacity: 0.5;
}